<form class="container" (ngSubmit)="logForm(fc)" #fc="ngForm">
	<div class="form-group">
		<label for="nome">Nome</label>
            <input type="text"class="form-control" name="nome"  [(ngModel)]="cliente.nome" required>
        </div>
        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="cliente.email" required>
        </div>
        <div class="form-group">
            <label for="pws">Senha</label>
            <input type="password" class="form-control" name="pws" [(ngModel)]="cliente.pws" required>
        </div>

        <div class="form-group">
            <label for="foro"></label>
            <input type="file" (change)="onFileSelected($event)">
             <button type="button" (click)="onUpload()">Enviar</button>
              <img [src]="preview | async" alt="" width="80%">
        </div>

        <div class="form-group">
          <input type="file" (change)="uploadFile($event)" />
          <div>{{ uploadPercent | async }}</div>
          <a [href]="downloadURL | async">{{ downloadURL | async }}</a>
          <img [src]="downloadURL | async" alt="" width="80%">
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Salvar</button>
          <button type="reset" class="btn btn-primary">Cancelar</button>
        </div>
</form>